<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Photo</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  type="text/css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<header>
    <h1 class="h1">Upload your beautiful pictures</h1>
</header>
<form  method="post" enctype="multipart/form-data">
    <div class="form-group">
        {% csrf_token %}
  {{ form }}
  <button type="submit" class="btn btn-primary">Upload Images</button>
    </div>
<style>

    form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}
form > div{
    width: 70%;
    height: 200px;
        display: flex;
            flex-direction: column;

    justify-content: space-between;
    align-items: center
}
</style>
</form>

</body>
</html>
